.header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;
}
.header-container {
  display: flex;
  flex-direction: column;
  &-head {
    display: flex;
    justify-content: space-between;
  }
}
.phone-number {
  font-size: 26px;
  color: $main_text_color;
}
.phone {
  text-decoration: none;
  font-size: 20px;
  color: $main_text_color;
}
.logo {
  display: block;
  background: url("images/logo.png") no-repeat;
  color: #272622;
  width: 120px;
  height: 86px;
}
.logo:hover {
  background: url("images/logo_hover.png") no-repeat;
  transform: scale(1.05, 1.05);
}
.menu-head {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  &__item {
    display: block;
    background: $main_color url("images/header_icons.png") no-repeat;
    width: 40px;
    height: 40px;
    margin: 7px;
    border-radius: 20px;
    &_login {
      background-position: 8px 8px;
    }
    &_basket {
      background-position: -45px 8px;
    }
    &_search {
      background-position: -98px 8px;
    }
  }
}
.menu-head__item {
  &_login:hover {
    background: $main_color url("images/header_icons_hover.png") 8px 8px no-repeat;
  }
  &_basket:hover {
    background: $main_color url("images/header_icons_hover.png")-45px 8px no-repeat;
  }
  &_search:hover {
    background:  $main_color url("images/header_icons_hover.png")-98px 8px no-repeat;
  }
}
.menu-nav {
  display: flex;
  list-style: none;
  justify-content: space-between;
  padding: 0 50px 0 100px;
}
.menu-nav li, a {
  font-size: 18px;
  color: $main_text_color;
  text-decoration: none;
}
.menu-nav a:hover, .phone:hover {
  color: $main_color;
}