.header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 5;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  &-head {
    display: flex;
    justify-content: space-between;
  }
}
.phone-number {
  font-size: 26px;
}
.phone {
  text-decoration: none;
  font-size: 20px;
}
.logo {
  display: block;
  background: url("images/logo.png") no-repeat;
  width: 120px;
  height: 86px;
}
.menu-head {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  &__item {
    display: block;
    background: $main_color url("images/header_icons.png") no-repeat;
    width: 40px;
    height: 40px;
    margin: 7px;
    border-radius: 20px;
    &_login {
      background-position: 8px 8px;
    }
    &_basket {
      background-position: -45px 8px;
    }
    &_search {
      background-position: -98px 8px;
    }
  }
}
.menu-nav {
  display: flex;
  list-style: none;
  justify-content: space-between;
  padding: 0px 50px 0px 100px;
}
.menu-nav li{
  font-size: 18px;
  color: $main_color;
  text-decoration: none;
}