.imoniol {
  min-height: 700px;
  width: auto;
  background: url("images/testimoniol_background.png") 0 -10px no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
}
.imoniol__container {
  display: flex;
  min-width: 700px;
  text-align: center;
}
.imoniol__name {

}