.swiper-container-portfolio {
  overflow: hidden;
  text-align: center;
  margin: auto;
}
.swiper-pagination-portfolio {
  text-align: center;
  padding: 40px 30px 15px;
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
}
.swiper-pagination-portfolio .swiper-pagination-bullet {
  width: auto;
  height: auto;
  font-size: 18px;
  color: #4d4d4d;
  background: transparent;
  opacity: 1;
}
.swiper-pagination-portfolio .swiper-pagination-bullet:hover {
  color: $main_color;
}
.swiper-pagination-portfolio .swiper-pagination-bullet:after {
  display: inline-block;
  height: 18px;
  width: 4px;
  content: "\\\\";
  margin-left: 20px;
}
.swiper-pagination-portfolio .swiper-pagination-bullet:last-child:after {
  display: none;
}