.price-container {
  display: flex;
  justify-content: space-between;
  margin:auto;
  padding-top: 50px;
}
.price-sewing {
  display: flex;
  flex-direction: column;
  width: 30%;
  box-sizing: border-box;
  &__icon {
    background: url("images/price_icon.png") 30px no-repeat;
    width: 95px;
    height: 95px;
    border: 2px solid $main_color;
    border-radius: 100px;
  }
}
.price-list {
  display: flex;
  list-style: none;
  width: 60%;
  border: 2px solid $main_color;
  box-sizing: border-box;
  & a {;
    color: #000000;
    text-decoration: none;
  }
  &__item {
    text-align: center;
    border-right: 2px solid $main_color;
    width: 33.3%;
    box-sizing: border-box;
    transition: all 0.3s;
    &:last-child {
      border-right: 0;
    }
    & h2:nth-child(1) {
      text-transform: uppercase;
      position: relative;
      &:after {
        height: 3px;
        width: 50px;
        position: absolute;
        top: 45px;
        left: calc(50% - 25px);
        content: "";
        background-color: $main_color;
      }
    }
    &:hover {
      background-color: $main_color;
      transform: scaleY(1.03);
      color: #ffffff;
      & h2:nth-child(1):after {
        background-color: #ffffff;
      }
    }
    &-content {
      border-top: 2px solid #e6e6e6;
      background-color: #fafafa;
      transition: all 0.3s;
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 300px;
      justify-content: space-between;
      padding: 0 3px 15px;
    }
  }
}
.price-list__order {
  display: inline-flex;
  border: 2px solid $main_color;
  justify-content: center;
  width: 50%;
  padding: 10px 0;
  text-transform: uppercase;
  color: #000000;
  transition: all 0.3s;
}
.price-list__item:hover .price-list__order {
  background-color: $main_color;
  color: #ffffff;
}
.price-list__item:hover .price-list__item-content {
  background: url("images/background_price.png") 0 0 no-repeat;
}
.price-list__item:hover .price-list__item-header {
  color: #ffffff;
}