<div class="about__container wrapper">
    <div class="about__title" id="about">о нас</div>
    <div class="about__content">Каждому клиенту гарантируется непревзойденное качество европейских материалов и мастерство индивидуального производстваКаждому клиенту гарантируется непревзойденное качество европейских материалов и мастерство индивидуального производства</div>
</div>
<div class="benefits__container wrapper">
    <ul class="benefits_list">
        <li class="benefits_list__item">
            <div class="bulb"></div>
            <span class="bulb_title">benone — 8 лет</span>
            <span class="bulb_content">на российском рынке</span>
        </li>
        <li class="benefits_list__item">
            <div class="bulb"></div>
            <span class="bulb_title">10 000 тканей</span>
            <span class="bulb_content">по эксклюзивным ценам</span>
        </li>
        <li class="benefits_list__item">
            <div class="bulb"></div>
            <span class="bulb_title">3d визуализация</span>
            <span class="bulb_content">в подарок каждому клиенту</span>
        </li>
        <li class="benefits_list__item">
            <div class="bulb"></div>
            <span class="bulb_title">гарантия 2 года</span>
            <span class="bulb_content">на все ткани и пошив</span>
        </li>
    </ul>
</div>
<div class="skills__container wrapper">
    <div class="skills__content">
        <h2>benone</h2>
        <p>Benone — достойное предложение лучших европейских тканей, собственная фабрика в России, итальянские технологии эксклюзивного пошива плюс бережное отношение к каждому клиенту. Мы не только подбираем домашний текстиль, разрабатываем дизайн и воплощение для декоративных решений. Мы создаем эстетическое пространство нового уровня — атмосферу уютной гармонии, где хочется жить, любить, созидать. В этом смогли убедиться тысячи российских клиентов Benone.</p>
        <p>Страсть к созданию прекрасного — вот сущность нашей компании, где воедино сливаются искусство и практичность исполнения, идейное вдохновение и умение делать работу в соответствие с жесткими стандартами качества.</p>
        <p>Benone — это творческая мастерская, в которой трудятся истинные художники и знатоки своего дела. Каждый наш проект — единственное в своем роде творение, создаваемое ради отдельно взятого клиента. Для каждого клиента мы подбираем те самые ткани, которые идеально соответствуют энергетике и эргономике именно вашего дома.</p>
        <p>Просто расскажите — каким вы видите мир. Остальное за нами!</p>
    </div>
    <div class="skills__image"><img src="/images/skills_image.png"></div>
</div>