<div class="swiper-container">
    <div class="swiper-wrapper">
        <div class="swiper-slide"><img class="slide1" src="/images/banner.png"></div>
        <div class="swiper-slide"><img class="slide1" src="/images/banner.png"></div>
        <div class="swiper-slide"><img class="slide1" src="/images/banner.png"></div>
    </div>
    <div class="swiper-pagination"></div>
</div>