<div class="wrapper">
    <ul>
        <li>
            <div></div>
            <span>ВЫБЕРИТЕ СВОЮ АКЦИЮ</span>
            <span>Майские скидки на ткани! Подарки к Дню Победы! 3Д дизайн-проект в подарок!</span>
        </li>
        <li>
            <div></div>
            <span>ПОЗВОНИТЕ НАМ +7 (495) 966-41-34</span>
            <span>каждый день с 9.00-21.00</span>
            <span>узнайте больше об акциях и специальных предложениях задайте свой вопрос дизайнеру</span>
        </li>
        <li>
            <div></div>
            <span>ПРИГЛАСИТЕ ДИЗАЙНЕРА</span>
            <span>согласуйте удобное время</span>
            <span>дизайнер привезёт образцы тканей и электронный каталог</span>
            <span>получите в подарок 3D дизайн штор</span>
        </li>
    </ul>
</div>