<div class="wrapper facts-list__container">
    <ul class="facts-list">
        <li class="facts-list__items">
            <a class="facts-list__link" href="#"></a>
            <h2>выберите свою акцию</h2>
            <span>Майские скидки на ткани!</span>
            <span>Подарки к Дню Победы!</span>
            <span>3Д дизайн-проект в подарок!</span>
        </li>
        <li class="facts-list__items">
            <a class="facts-list__link" href="#"></a>
            <h2>позвоните нам</h2>
            <h2>+7 (495) 966-41-34</h2>
            <span>каждый день с 9.00-21.00</span>
            <span>узнайте больше об акциях и специальных предложениях задайте свой вопрос дизайнеру</span>
        </li>
        <li class="facts-list__items">
            <a class="facts-list__link" href="#"></a>
            <h2>пригласите дизайнера</h2>
            <span>согласуйте удобное время дизайнер привезёт образцы тканей и электронный каталог получите в подарок 3D дизайн штор</span>
        </li>
    </ul>
</div>