<div class="container">
    <div class="container-head">
        <div class="phone-callback">
            <p class="phone-number">{{phone}}</p>
            <a class="phone" href="#">{{callback}}</a>
        </div>
        <a class="logo" href="#"></a>
        <ul class="menu-head">
            <li><a class="menu-head__item menu-head__item_login" href="#"></a></li>
            <li><a class="menu-head__item menu-head__item_basket" href="#"></a></li>
            <li><a class="menu-head__item menu-head__item_search" href="#"></a></li>
        </ul>
    </div>
    <ul class="menu-nav">
        <li><a href="#">о нас</a></li>
        <li>\\</li>
        <li><a href="#">все о шторах</a></li>
        <li>\\</li>
        <li><a href="#">услуги и цены</a></li>
        <li>\\</li>
        <li><a href="#">портфолио</a></li>
        <li>\\</li>
        <li><a href="#">дизайнеры</a></li>
        <li>\\</li>
        <li><a href="#">контакты</a></li>
    </ul>
</div>
<div class="header-title">
    <div class="header-title__content">
        <p class="header-title__content-1">дом итальянской моды в сфере домашнего текстиля</p>
        <h1>дизайн/проектирование/пошив/продажа</h1>
        <p class="header-title__content-1">просто расскажите - каким вы видите мир.остальное за нами!</p>
    </div>
</div>
<div class="header-button">
    <a class="header-button__catalog" href="#">каталог тканей</a>
    <a class="header-button__portfolio" href="#">портфолио</a>
</div>