<div class="container-head">
    <div class="phone-callback">
        <p class="phone-number">{{phone}}</p>
        <a class="phone" href="#">{{callback}}</a>
    </div>
    <a class="logo" href="#"></a>
    <ul class="menu-head">
        <li><a class="menu-head__item menu-head__item_login" href="#"></a></li>
        <li><a class="menu-head__item menu-head__item_basket" href="#"></a></li>
        <li><a class="menu-head__item menu-head__item_search" href="#"></a></li>
    </ul>
</div>
<ul class="menu-nav">
    <li><a href="#">о нас</a></li>
    <li>\\</li>
    <li><a href="#">все о шторах</a></li>
    <li>\\</li>
    <li><a href="#">услуги и цены</a></li>
    <li>\\</li>
    <li><a href="#">портфолио</a></li>
    <li>\\</li>
    <li><a href="#">дизайнеры</a></li>
    <li>\\</li>
    <li><a href="#">контакты</a></li>
</ul>
<div class="swiper-container">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide"><img class="slide1" src="/frontend/images/banner.gif"></div>
        <div class="swiper-slide">Slide 2</div>
        <div class="swiper-slide">Slide 3</div>
    </div>
    <!-- If we need pagination -->
    <div class="swiper-pagination"></div>

    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>

    <!-- If we need scrollbar -->
    <div class="swiper-scrollbar"></div>
</div>