<div class="swiper-container-imoniol wrapper">
    <div class="swiper-wrapper imoniol__container">
        <div class="swiper-slide">
            <h3 class="imoniol__name">екатерина зубкова</h3>
            <span class="imoniol__content">"Каждому клиенту гарантируется непревзойденное качество европейских материалов и мастерство индивидуального производства"</span>
            <div><img class="imoniol__icon" src="/images/testimoniol_icon.png"></div>
        </div>
        <div class="swiper-slide">
            <h3 class="imoniol__name">екатерина зубкова</h3>
            <span class="imoniol__content">"Каждому клиенту гарантируется непревзойденное качество европейских материалов и мастерство индивидуального производства"</span>
            <div><img class="imoniol__icon" src="/images/testimoniol_icon.png"></div>
        </div>
        <div class="swiper-slide">
            <h3 class="imoniol__name">екатерина зубкова</h3>
            <span class="imoniol__content">"Каждому клиенту гарантируется непревзойденное качество европейских материалов и мастерство индивидуального производства"</span>
            <div><img class="imoniol__icon" src="/images/testimoniol_icon.png"></div>
        </div>
    </div>
    <!--<div class="swiper-pagination"></div>-->
</div>