<div class="info__container wrapper">
    <div class="info__title" id="portfolio">портфолио</div>
    <div class="info__content">для каждого клиента мы подбираем те самые ткани, которые идеально соответствуют энергетике и эргономики именно вашего дома.</div>
</div>
<ul class="menu-nav___portfolio wrapper">
    <li><a href="#" class="menu-nav__link">французкие шторы</a></li>
    <li>\\</li>
    <li><a href="#" class="menu-nav__link">римские шторы</a></li>
    <li>\\</li>
    <li><a href="#" class="menu-nav__link">шторы с ламбрекеном</a></li>
    <li>\\</li>
    <li><a href="#" class="menu-nav__link">австрийские шторы</a></li>
    <li>\\</li>
    <li><a href="#" class="menu-nav__link">итальянские шторы</a></li>
    <li>\\</li>
    <li><a href="#" class="menu-nav__link">английские шторы</a></li>
</ul>
<div class="swiper-pagination-portfolio wrapper"></div>
<div class="swiper-container-portfolio wrapper">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <div><img class="slide__portfolio" src="/images/portfolio_image.png">
                <h3>Французские шторы </h3>
                <p>Традиционно французские шторы представляют собой каскады полукруглых складок из ткани по всей длине полотна. Такой вариант оформления окон встречается  в театрах, концертных залах, дорогих ресторанах, а также в частных интерьерах, для которых характерны большие пространства и несколько окон в одном помещении. Дизайнеры Benone-Russia используют французские шторы для создания атмосферы торжественности, величия и парадности. Полотно поднимается вверх вручную или при помощи механизма. При подъеме складки собираются в красивые «гроздья».</p>
                <p>Французские шторы — ваш вариант оформления окон, если: Вы любите классику во всех ее проявлениях Вам нравится окружать себя изысканными и элегантными вещами для украшения своих окон вы предпочтете легкие, тонкие, благородные ткани превосходного качества</p>
                <p>Классические интерьеры гостиных, залов, спален и рабочих кабинетов прекрасно дополняются французскими шторами. В атмосфере преобладают аристократизм и возвышенность, обстановка становится праздничной и парадной. Французские шторы — эксклюзивная оправа для окон, которая может быть дополнена ламбрекенами, воланами, де жабо и другими элементами.</p>
            </div>
        </div>
        <div class="swiper-slide">
            <div><img class="slide__portfolio" src="/images/portfolio_image.png">
                <h3>Французские шторы </h3>
                <p>Традиционно французские шторы представляют собой каскады полукруглых складок из ткани по всей длине полотна. Такой вариант оформления окон встречается  в театрах, концертных залах, дорогих ресторанах, а также в частных интерьерах, для которых характерны большие пространства и несколько окон в одном помещении. Дизайнеры Benone-Russia используют французские шторы для создания атмосферы торжественности, величия и парадности. Полотно поднимается вверх вручную или при помощи механизма. При подъеме складки собираются в красивые «гроздья».</p>
                <p>Французские шторы — ваш вариант оформления окон, если: Вы любите классику во всех ее проявлениях Вам нравится окружать себя изысканными и элегантными вещами для украшения своих окон вы предпочтете легкие, тонкие, благородные ткани превосходного качества</p>
                <p>Классические интерьеры гостиных, залов, спален и рабочих кабинетов прекрасно дополняются французскими шторами. В атмосфере преобладают аристократизм и возвышенность, обстановка становится праздничной и парадной. Французские шторы — эксклюзивная оправа для окон, которая может быть дополнена ламбрекенами, воланами, де жабо и другими элементами.</p>
            </div>
        </div>
        <div class="swiper-slide">
            <div><img class="slide__portfolio" src="/images/portfolio_image.png">
                <h3>Французские шторы </h3>
                <p>Традиционно французские шторы представляют собой каскады полукруглых складок из ткани по всей длине полотна. Такой вариант оформления окон встречается  в театрах, концертных залах, дорогих ресторанах, а также в частных интерьерах, для которых характерны большие пространства и несколько окон в одном помещении. Дизайнеры Benone-Russia используют французские шторы для создания атмосферы торжественности, величия и парадности. Полотно поднимается вверх вручную или при помощи механизма. При подъеме складки собираются в красивые «гроздья».</p>
                <p>Французские шторы — ваш вариант оформления окон, если: Вы любите классику во всех ее проявлениях Вам нравится окружать себя изысканными и элегантными вещами для украшения своих окон вы предпочтете легкие, тонкие, благородные ткани превосходного качества</p>
                <p>Классические интерьеры гостиных, залов, спален и рабочих кабинетов прекрасно дополняются французскими шторами. В атмосфере преобладают аристократизм и возвышенность, обстановка становится праздничной и парадной. Французские шторы — эксклюзивная оправа для окон, которая может быть дополнена ламбрекенами, воланами, де жабо и другими элементами.</p>
            </div>
        </div>
    </div>
</div>