<div class="wrapper price-container">
    <div class="price-sewing">
        <span class="price-sewing__icon"></span>
        <h2>услуги и цены на пошив штор</h2>
        <span>Только в мае на все ткани европейских производителей уникакльные скидки:</span>
        <span>ткани производства Испании - 15%</span>
        <span>ткани производства Германии - 20%</span>
        <span>ткани производства Италии - 30%</span>
    </div>
    <ul class="price-list">
        <li class="price-list__item">
            <a href="#">
                <div class="price-list__item-header">
                    <h2>standart</h2>
                    <h2>От 00 000 0</h2>
                </div>
                <div class="price-list__item-content">
                    <span>Простые шторы, но безусловно уникальный дизайн от наших мастеров, создадут в доме ощущения гармонии и уюта.</span>
                    <span class="price-list__order">заказать</span>
                </div>
            </a>
        </li>
        <li class="price-list__item">
            <a href="#">
                <div class="price-list__item-header">
                    <h2>premium</h2>
                    <h2>От 00 000 0</h2>
                </div>
                <div class="price-list__item-content">
                    <span>Разнобразие дизайнерских решений, которые не только украсят и выделят вашу квартиру, но и станут предметом гордости.</span>
                    <span class="price-list__order">заказать</span>
                </div>
            </a>
        </li>
        <li class="price-list__item">
            <a href="#">
                <div class="price-list__item-header">
                    <h2>luxury</h2>
                    <h2>От 00 000 0</h2>
                </div>
                <div class="price-list__item-content">
                    <span>Уникальные ткани из Италии, Франции и Лондона, под стать вашему интерьеру - это истинная ценность неповторимого дизайна.</span>
                    <span class="price-list__order">заказать</span>
                </div>
            </a>
        </li>
    </ul>
</div>