<div class="quote__container">
    <h3 class="quote__title">Делаем как себе!</h3>
    <h3 class="quote__title">3Д дизайн-проект в подарок!</h3>
    <a class="quote__stock" href="#">акция</a>
    <a class="quote__more" href="#">подробнее</a>
</div>