<div class="quote__container wrapper">
    <div class="quote__content">
        <h3 class="quote__title">Делаем как себе!</h3>
        <h3 class="quote__title">3Д дизайн-проект в подарок!</h3>
        <a href="#">акция</a>
        <a href="#">подробнее</a>
    </div>
</div>