<div class="info__container wrapper">
    <div class="info__title" id="service-and-price">услуги и цены</div>
    <div class="info__content">только в мае на все ткание европейских производителей уникальные скидки: ткани производства испании - 15%, ткани производства германии - 20%, ткани производства италии - 30%</div>
</div>
<div class="wrapper">
    <span class="service-list__number">1</span>
    <span class="service-list__number">2</span>
    <span class="service-list__number">3</span>
</div>
<div class="wrapper service-list__container">
    <ul class="service-list">
        <li class="service-list__items">
            <a class="service-list__link" href="#"></a>
            <h2>пригласите дизайнера в гости</h2>
            <span>Дизайнер привезет с собой конфеты, а за чашкой чая поможет не растеряться в разнаобразии материалов и подобратьстиль, который будет встречать вас утром и желать спокойной ночи перед сном.</span>
        </li>
        <li class="service-list__items">
            <a class="service-list__link" href="#"></a>
            <h2>создайте свой уникальный дизайн</h2>
            <span>Под вашим чутким руководством мы нарисуем мечту, которую вы увидите не выходя из дома и сможите дополнить её свежими идеями, чтобы ни одна деталь не осталась незамеченной, ведь все сложно быть тдеально!</span>
        </li>
        <li class="service-list__items">
            <a class="service-list__link" href="#"></a>
            <h2>в шаге от мечты</h2>
            <span>Мы будем оберегать вашу мечту и лично присутствовать при волшебном процессе её создания, а томительное предвкушение чудо превзойдет самые яркие ожидания. Просто позвоните нам!</span>
        </li>
    </ul>
</div>