<ul>
    <li><a href="#">facebook</a></li>
    <li><a href="#">twitter</a></li>
    <li><a href="#">google +</a></li>
    <li><a href="#">вконтакте</a></li>
    <li><a href="#">одноклассники</a></li>
    <li><a href="#">instagram</a></li>
</ul>