<ul class="social__content">
    <li>
        <a href="#" class="social__content-item">facebook</a>
        <i class="fa fa-facebook" aria-hidden="true"></i>
    </li>
    <li>
        <a href="#" class="social__content-item">twitter</a>
        <i class="fa fa-twitter" aria-hidden="true"></i>
    </li>
    <li>
        <a href="#" class="social__content-item">google +</a>
        <i class="fa fa-google-plus" aria-hidden="true"></i>
    </li>
    <li>
        <a href="#" class="social__content-item">вконтакте</a>
        <i class="fa fa-vk" aria-hidden="true"></i>
    </li>
    <li>
        <a href="#" class="social__content-item">одноклассники</a>
        <i class="fa fa-odnoklassniki" aria-hidden="true"></i>
    </li>
    <li>
        <a href="#" class="social__content-item">instagram</a>
        <i class="fa fa-instagram" aria-hidden="true"></i>
    </li>
</ul>