<ul class="social__content">
    <li>
        <a href="#" class="social__item">
            <i class="fa fa-facebook social__icon" aria-hidden="true"></i>
            <span class="social__title">facebook</span>
        </a>
    </li>
    <li>
        <a href="#" class="social__item">
            <i class="fa fa-twitter social__icon" aria-hidden="true"></i>
            <span class="social__title">twitter</span>
        </a>
    </li>
    <li>
        <a href="#" class="social__item">
            <i class="fa fa-google-plus social__icon" aria-hidden="true"></i>
            <span class="social__title">google +</span>
        </a>
    </li>
    <li>
        <a href="#" class="social__item">
            <i class="fa fa-vk social__icon" aria-hidden="true"></i>
            <span class="social__title">вконтакте</span>
        </a>
    </li>
    <li>
        <a href="#" class="social__item">
            <i class="fa fa-odnoklassniki social__icon" aria-hidden="true"></i>
            <span class="social__title">одноклассники</span>
        </a>
    </li>
    <li>
        <a href="#" class="social__item">
            <i class="fa fa-instagram social__icon" aria-hidden="true"></i>
            <span class="social__title">instagram</span>
        </a>
    </li>
</ul>