<ul class="social__content">
    <li><a href="#" class="social__content-item">facebook</a><i class="fa fa-facebook" aria-hidden="true"></i></li>
    <li><a href="#" class="social__content-item">twitter</a></li>
    <li><a href="#" class="social__content-item">google +</a></li>
    <li><a href="#" class="social__content-item">вконтакте</a></li>
    <li><a href="#" class="social__content-item">одноклассники</a></li>
    <li><a href="#" class="social__content-item">instagram</a></li>
</ul>