<div class="info__container wrapper">
    <div class="info__title">дизайнеры</div>
    <div class="info__content">дизайн штор в исполнении наших мастеров - это идеальное воплощение ваших идей, знакомтесь с нашим портфолио</div>
</div>
<div class="team__description">
    <p>Стиль текстильного оформления рождается в результате совместной работы дизайнера и клиента. Дизайнер поможет создать красивую картину имеющегося в комнатах интерьера, сопоставить с 3D дизайн-проектом ваших новых штор.</p>
    <p>Онлайн-каталог штор и Дом текстиля в Москве Benone-Russia помогут разобраться с большим ассортиментом наших предложений, взять за основу готовый проект декора штор из портфолио или заказать дизайнеру пошив штор по индивидуальным эскизам.</p>
    <p>выберите своего дизайнера</p>
</div>
<div class="swiper-container">
    <div class="swiper-wrapper">
        <!--<div class="swiper-slide"><img class="slide1" src="/images/banner.png"></div>-->
        <!--<div class="swiper-slide"><img class="slide1" src="/images/banner.png"></div>-->
        <!--<div class="swiper-slide"><img class="slide1" src="/images/banner.png"></div>-->
    </div>
</div>
<a href="#">заказать</a>